.education {
  background-color: #fff;
  padding: 50px;
  margin-bottom: 50px;
}
.education > h3 {
  font-size: 35px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .education > p {
    font-size: 14px !important;
  }
  .education {
    padding: 35px 20px;
  }
  .education > h3 {
    font-size: 22px !important;
    margin-bottom: 37px !important;
  }
}
