.icon-each {
  font-size: 33px !important;
  margin-bottom: 9px;
}
.overlay {
  height: 100vh;
  position: relative !important;
  background: linear-gradient(
      0deg,
      rgba(255, 0, 96, 0.9),
      rgba(255, 0, 96, 0.5)
    ),
    url("https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  box-shadow: inset 0 -40px 60px 10px #ff0060;
}
.container {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .icon-each {
    font-size: 22px !important;
    margin-bottom: 5px;
  }
}
